apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnect
metadata:
  name: my-connect-cluster
  annotations:
    strimzi.io/use-connector-resources: "true"
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  version: 3.5.0
  replicas: 1
  bootstrapServers: my-cluster-kafka-bootstrap:9092
  image: wpatterson134/kafka-connect-mongodb:v2 # Your Confluent image
  config:
    group.id: "connect-cluster"
    offset.storage.topic: "connect-offsets"
    config.storage.topic: "connect-configs"
    status.storage.topic: "connect-status"
    key.converter: "org.apache.kafka.connect.storage.StringConverter"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    value.converter.schemas.enable: "false"
    key.converter.schemas.enable: "false"
    plugin.path: "/usr/share/java,user/share/confluent-hub-components,/opt/kafka/plugins"  # Custom plugin path
  