apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: iot-frames-mongodb-sink
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: com.mongodb.kafka.connect.MongoSinkConnector 
  tasksMax: 1
  config:
    topics: "iot-frames"
    connection.uri: "mongodb://admin:password@mongo-svc.mongodb.svc.cluster.local:27017/admin?authMechanism=SCRAM-SHA-256"
    database: "iot"
    collection: "iot-frames"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter: "org.apache.kafka.connect.json.JsonConverter"
    value.converter.schemas.enable: false
    key.converter.schemas.enable: false

