apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: iot-frames-mongodb-sink
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: com.mongodb.kafka.connect.MongoSinkConnector 
  tasksMax: 1
  config:
    topics: "iot-frames"
    connection.uri: "mongodb://devroot:devroot@mongo-svc.mongodb.svc.cluster.local:27017/"
    database: "iot"
    collection: "iot-frames"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter: "org.apache.kafka.connect.json.JsonConverter"
    value.converter.schemas.enable: false
    key.converter.schemas.enable: false

---

apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: iot-aggregate-metrics-sensor-mongodb-sink
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: com.mongodb.kafka.connect.MongoSinkConnector 
  tasksMax: 1
  config:
    topics: "iot-aggregate-metrics-sensor"
    connection.uri: "mongodb://devroot:devroot@mongo-svc.mongodb.svc.cluster.local:27017/"
    database: "iot"
    collection: iot_aggregate_metrics_sensor"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter": "org.apache.kafka.connect.storage.StringConverter"
    value.converter.schemas.enable: false
    key.converter.schemas.enable: false
---

apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  name: iot-aggregate-metrics-place-mongodb-sink
  labels:
    strimzi.io/cluster: my-connect-cluster
spec:
  class: com.mongodb.kafka.connect.MongoSinkConnector 
  tasksMax: 1
  config:
    topics: "iot-aggregate-metrics-place"
    connection.uri: "mongodb://devroot:devroot@mongo-svc.mongodb.svc.cluster.local:27017/"
    database: "iot"
    collection: iot_aggregate_metrics_place"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter": "org.apache.kafka.connect.storage.StringConverter"
    value.converter.schemas.enable: false
    key.converter.schemas.enable: false











