extraScrapeConfigs: |
  
  - job_name: 'iot-metrics-time-series'
    metrics_path: '/iot-metrics-time-series'
    scrape_interval: 5s
    static_configs:
      - targets: ['my-connect-cluster-connect-api.kafka.svc.cluster.local:8083']

  - job_name: 'kafka-exporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['kafka-exporter.kafka.svc.cluster.local:9308']
      
  - job_name: 'iot-processor'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['iot-processor.kafka.svc.cluster.local:8080']
    basic_auth:
      username: "prometheus"
      password: "prometheus"

  - job_name: 'nodeexporter'
    scrape_interval: 5s
    static_configs:
      - targets: ['nodeexporter:9100']