apiVersion: apps/v1
kind: Deployment
metadata:
  name: iot-processor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iot-processor
  template:
    metadata:
      labels:
        app: iot-processor
    spec:
      containers:
        - name: iot-processor
          image: ssanchez11/iot_processor:0.0.1-SNAPSHOT
          ports:
          - containerPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: iot-processor-service
spec:
  selector:
    app: iot-processor
  ports:
    - port: 8080
      targetPort: 8080
