apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-topics-ui-deployment
  labels:
    app: kafka-topics-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-topics-ui
  template:
    metadata:
      labels:
        app: kafka-topics-ui
    spec:
      containers:
      - name: kafka-topics-ui
        image: landoop/kafka-topics-ui:latest
        env: 
        - name: KAFKA_REST_PROXY_URL
          value: "http://kafka-rest-proxy:8082/"
          # Required. Instructs the UI where it can find the Kafka REST Proxy.
        - name: PROXY
          value: "true"
          # This instructs the docker image to use Caddy to proxy traffic to kafka-topics-ui.
        ports:
        - containerPort: 8000 # TODO: hostport needs to be 8081 (container port is good with 8000 though)
        limits:
          memory:
          cpu:
      # kafka-topics-ui relies upon Kafka REST.
    # This will instruct docker to wait until those services are up
    # before attempting to start kafka-topics-ui.
        #TODO: depends on kafka-rest-proxy
