apiVersion: v1
kind: Service
metadata:
  name: prometheus-frontend
  namespace: monitoring
spec:
  selector:
    app.kubernetes.io/component: server
  ports:
    - protocol: TCP
      port: 8086
      targetPort: 9090
  type: LoadBalancer
