apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaBridge
metadata:
  name: my-bridge
  labels:
    strimzi.io/cluster: my-bridge
spec:
  replicas: 1
  bootstrapServers: my-cluster-kafka-bootstrap:9092
  http:
    port: 8080
  enableMetrics: true
  
# ---

# apiVersion: v1
# kind: Service
# metadata:
#   name: my-bridge-bridge-service
# spec:
#   selector:
#     strimzi.io/kind: KafkaBridge
#     strimzi.io/cluster: my-bridge
#   ports:
#     - protocol: TCP
#       port: 8080
#       targetPort: 8080